body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #EEEEEE;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.center-block {
    float: none;
    margin: 0 auto;
}

input,
select,
textarea {
    max-width: 280px;
}

/* Todo */

.todolist {
    background-color: #FFF;
    padding: 20px 20px 10px 20px;
    margin-top: 30px;
}

    .todolist h1 {
        margin: 0;
        padding-bottom: 20px;
        text-align: center;
    }

li.ui-state-default {
    background: #fff;
    border: none;
    border-bottom: 1px solid #ddd;
}

    li.ui-state-default:last-child {
        border-bottom: none;
    }

.todo-footer {
    background-color: #F4FCE8;
    margin: 0 -20px -10px -20px;
    padding: 10px 20px;
}

.add-todo {
    max-width: 100%;
}

.done-true {
  text-decoration: line-through;
  color: grey;
}

#checkAll {
    margin-top: 10px;
}

